@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 73, 73, 83;
  --background-rgb: 237, 242, 246;
}

.dark {
  --foreground-rgb: 237, 242, 246;
  --background-rgb: 73, 73, 83;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  transition: background-color 0.3s, color 0.3s;
}

/* Add dark mode utility classes */
@layer utilities {
  .bg-theme {
    @apply bg-primaryBg-light dark:bg-primaryBg-dark;
  }
  .text-theme {
    @apply text-primaryText-light dark:text-primaryText-dark;
  }
}

html {
  scroll-behavior: smooth;
}

