@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 73, 73, 83;
  --background-rgb: 237, 242, 246;
}

.dark {
  --foreground-rgb: 237, 242, 246;
  --background-rgb: 73, 73, 83;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(135deg, #000B58, #006A67);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Add patterns */
.pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.pattern-circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0.1;
  background: rgba(255, 255, 255, 0.5);
}

.pattern-square {
  position: absolute;
  opacity: 0.1;
  background: rgba(255, 255, 255, 0.5);
}

/* Add dark mode utility classes */
@layer utilities {
  .bg-theme {
    @apply bg-primaryBg-light dark:bg-primaryBg-dark;
  }
  .text-theme {
    @apply text-primaryText-light dark:text-primaryText-dark;
  }
}

html {
  scroll-behavior: smooth;
}

/* Light mode styles */
body {
  background: linear-gradient(135deg, #000B58, #006A67);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #2A3335;
}

.header {
  background-color: #ffffff;
}

/* Add light mode styles for other components */
.bg-primaryBg-light {
  background-color: #ffffff;
}

.text-theme {
  color: #2A3335;
}

.text-interactive {
  color: #FFB74D;
}

/* Add more styles as needed */

.scatter-plot-container {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #ffffff; /* Light background for the plot */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.landing-section {
  background-image: url('/images/fond_de_plage_bras_ouvert_cote_dos.jpg');
  background-size: cover; /* Ensure the entire image is visible */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  min-height: 100vh; /* Ensure it takes up the full height of the viewport */
  display: flex; /* Center content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: #ffffff; /* Text color for better visibility */
}

img {
  max-width: 100%; /* Ensure images do not exceed their container */
  height: auto; /* Maintain aspect ratio */
}

